@page
@model PRN221_Client.Pages.Profile.ChangePasswordModel
@{
    ViewData["Title"] = Model.Profile.FullName;
}

<div class="row">
    <div class="col-lg-4 p-4">
        <div class="card p-5">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="@Model.Profile.Avatar" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                <div class="mt-3">
                    <h4>@Model.Profile.FullName</h4>
                    @if (Model.Profile.ShortBio != null && Model.Profile.ShortBio != "N/A")
                    {
                        <p class="text-secondary mb-1">@Model.Profile.ShortBio</p>
                    }
                </div>
            </div>
            <hr class="my-4">
            <ul class="list-group list-group-flush">
                @if (Model.Profile.Major != null && Model.Profile.Major != "N/A")
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Major</h6>
                        <span class="text-secondary">@Model.Profile.Major</span>
                    </li>
                }
                @if (Model.Profile.Address != null && Model.Profile.Address != "N/A")
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>Address</h6>
                        <span class="text-secondary">@Model.Profile.Address</span>
                    </li>
                }
                @if (Model.Profile.DateOfBirth != null)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>Date Of Birth</h6>
                        <span class="text-secondary">@Model.Profile.DateOfBirth.Value.ToString("MMMM dd, yyyy")</span>
                    </li>
                }
            </ul>
        </div>
    </div>
    <form method="post" class="col-lg-8 p-4">
        <div class="card p-5">
            <div class="row mb-3">
                <div class="col-sm-4">
                    <h6 class="mb-0">Old Password</h6>
                </div>
                <div class="col-sm-8 text-secondary">
                    <input type="text" class="form-control" asp-for="OldPassword" placeholder="Old Password">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <h6 class="mb-0">New Password</h6>
                </div>
                <div class="col-sm-8 text-secondary">
                    <input type="text" class="form-control" asp-for="NewPassword" placeholder="New Password">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <h6 class="mb-0">Confirm New Password</h6>
                </div>
                <div class="col-sm-8 text-secondary">
                    <input type="text" class="form-control" asp-for="ConfirmNewPassword" placeholder="Confirm New Password">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8 text-secondary">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a asp-page="/Profile/PersonalPage" asp-route-id="@Model.Profile.AccountId" class="btn btn-primary">Personal Page</a>
                </div>
            </div>
        </div>
    </form>
</div>
