@page "/Profile/PersonalPage/{id:int}"
@model PRN221_Client.Pages.Profile.PersonalPageModel
@{
    ViewData["Title"] = @Model.Profile.FullName;
}

<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Open Sans", sans-serif
    }
    /* Trường hợp 1 ảnh */
    .image-grid-1 img {
        width: 100%; /* Hiển thị ảnh rộng 100% */
    }

    /* Trường hợp 2 ảnh */
    .image-grid-2 {
        display: flex;
        justify-content: space-between;
    }

        .image-grid-2 img {
            width: 48%; /* Hiển thị 2 ảnh ngang hàng, mỗi ảnh chiếm 48% */
        }

    /* Trường hợp 3 ảnh */
    .image-grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

        .image-grid-3 img {
            width: 100%; /* 3 ảnh chia đều theo hàng */
        }

    /* Trường hợp 4 ảnh */
    .image-grid-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

        .image-grid-4 img {
            width: 100%; /* 4 ảnh chia thành 2x2 */
        }

</style>

<div class="w3-theme-l5">
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:30px; background-color: white">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white pb-3">
                    <div class="w3-container">
                        <h4 class="w3-center">@Model.Profile.FullName </h4>
                        <p class="w3-center">
                            <img src="@Model.Profile.Avatar" class="w3-circle" style="height:106px;width:106px"
                                 alt="Avatar">
                        </p>
                        <hr>
                        @if (Model.Profile.Major != null)
                        {
                            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> @Model.Profile.Major</p>
                        }
                        @if (Model.Profile.Address != null)
                        {
                            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> @Model.Profile.Address</p>
                        }
                        @if (Model.Profile.Gender != null)
                        {
                            if (Model.Profile.Gender.ToLower() == "female")
                            {
                                <p><i class="fa fa-venus  fa-fw w3-margin-right w3-text-theme"></i> @Model.Profile.Gender</p>
                            }
                            else if (Model.Profile.Gender.ToLower() == "male")
                            {
                                <p><i class="fa fa-mars fa-fw w3-margin-right w3-text-theme"></i> @Model.Profile.Gender</p>
                            }
                            else
                            {
                                <p><i class="fa fa-genderless fa-fw w3-margin-right w3-text-theme"></i> @Model.Profile.Gender</p>
                            }
                        }
                        @* @if (Model.Profile.DegreeUrl != null)
                        {
                            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> @Model.Profile.DegreeUrl</p>
                        } *@
                        @if (Model.Profile.DateOfBirth != null)
                        {
                            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> @Model.Profile.DateOfBirth.Value.ToString("MMMM dd, yyyy")</p>
                        }
                        @if (Model.Profile.YearOfExperience != null)
                        {
                            <p><i class="fa fa-user-tie fa-fw w3-margin-right w3-text-theme"></i> @Model.Profile.YearOfExperience Year Of Experience</p>
                        }
                    </div>
                </div>
                <br>

                <!-- Accordion -->
                <div class="w3-card w3-round">
                    <div class="w3-white">
                        @if (Model.AccountLogin == Model.Profile.AccountId)
                        {
                            <a class="w3-button w3-block w3-theme-l1 w3-left-align">
                                <i class="fa fa-info-circle fa-fw w3-margin-right"></i> Information
                            </a>
                        }

                        <a asp-page="/Profile/PersonalPage" asp-route-id="@Model.Profile.AccountId" class="w3-button w3-block w3-theme-l1 w3-left-align">
                            <i class="fa fa-pencil-alt fa-fw w3-margin-right"></i> Posts
                        </a>
                        <a asp-page="/Profile/ListFollow" asp-route-id="@Model.Profile.AccountId" class="w3-button w3-block w3-theme-l1 w3-left-align">
                            <i class="fa fa-user-friends fa-fw w3-margin-right"></i> Friends
                        </a>
                        <a asp-page="/Profile/ListFollow" asp-route-id="@Model.Profile.AccountId" class="w3-button w3-block w3-theme-l1 w3-left-align">
                            <i class="fa fa-user-plus fa-fw w3-margin-right"></i> Followers
                        </a>
                        <a asp-page="/Profile/ListFollow" asp-route-id="@Model.Profile.AccountId" class="w3-button w3-block w3-theme-l1 w3-left-align">
                            <i class="fa fa-user-check fa-fw w3-margin-right"></i> Following
                        </a>
                        <a asp-page="/Profile/ListPhotos" asp-route-id="@Model.Profile.AccountId" class="w3-button w3-block w3-theme-l1 w3-left-align">
                            <i class="fa fa-picture-o fa-fw w3-margin-right"></i> Photos
                        </a>
                    </div>
                </div>
                <br>

                <!-- Interests -->
                @* <div class="w3-card w3-round w3-white w3-hide-small pb-3 pt-3">
                    <div class="w3-container">
                        <p>Interests</p>
                        <p>
                            <span class="w3-tag w3-small w3-theme-d5">News</span>
                            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
                            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                            <span class="w3-tag w3-small w3-theme-d2">Games</span>
                            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                            <span class="w3-tag w3-small w3-theme">Games</span>
                            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                            <span class="w3-tag w3-small w3-theme-l2">Food</span>
                            <span class="w3-tag w3-small w3-theme-l3">Design</span>
                            <span class="w3-tag w3-small w3-theme-l4">Art</span>
                            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
                        </p>
                    </div>
                </div>
                <br> *@
            </div>

            <!-- Middle Column -->
            <div class="w3-col m7">

                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                                <h6 class="w3-opacity">Social Media template by w3.css</h6>
                                <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
                            </div>
                        </div>
                    </div>
                </div>

                @foreach (var post in Model.Posts)
                {
                    var imageCount = post.postImages.Count();

                    <div class="w3-container w3-card w3-white w3-round w3-margin">
                        <br>
                        <img src="@post.account.Avatar" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                        <span class="w3-right w3-opacity">1 min</span>
                        <h4>@post.account.FullName</h4><br>
                        <hr class="w3-clear">
                        <p>
                            @post.post.PostContent
                        </p>

                        <div class="w3-row-padding" style="margin:0 -16px">
                            <div class="@("image-grid-" + imageCount)">
                                @foreach (var image in post.postImages)
                                {
                                    <img src="@image.ImageUrl" alt="@image.ImageUrl" class="">
                                }
                            </div>
                        </div>

                        <div class="w3-margin-top">
                            @* <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
                                <i class="fa fa-thumbs-up"></i>
                                <span>10</span> Like
                            </button>
                            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">
                                <i class="fa fa-comment"></i>
                                <span>10</span> Comment
                            </button>
                            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom">
                                <i class="fa fa-comment"></i>
                                <span>10</span> Share
                            </button> *@

                            <div class="activity--action fw--700 w3-margin-bottom">
                                <a asp-page="/Posts/PostDetail" asp-route-postId="@post.post.PostId">See More...</a>
                            </div>
                        </div>
                    </div>
                }

                <!-- End Middle Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-col m2">
                <div class="w3-card w3-round w3-white w3-center pt-2 pb-3">
                    <div class="w3-container">
                        <p>Upcoming Events:</p>
                        <img src="~/image/forest.jpg" alt="Forest" style="width:100%;">
                        <p><strong>Holiday</strong></p>
                        <p>Friday 15:00</p>
                        <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
                    </div>
                </div>
                <br>

                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <p>Friend Request</p>
                        <img src="~/image/avatar6.png" alt="Avatar" style="width:50%"><br>
                        <span>Jane Doe</span>
                        <div class="w3-row w3-opacity">
                            <div class="w3-half">
                                <button class="w3-button w3-block w3-green w3-section" title="Accept">
                                    <i class="fa fa-check"></i>
                                </button>
                            </div>
                            <div class="w3-half">
                                <button class="w3-button w3-block w3-red w3-section" title="Decline">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
                    <p><i class="fa fa-bug w3-xxlarge"></i></p>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
</div>